@use "theme_variable";

.th-primary-text {
  color: theme_variable.$primary-color !important;
}
.th-white-text {
  color: theme_variable.$white-color !important;
}
.th-dark-black-text {
  color: theme_variable.$dark-black-color !important;
}
.th-vibrant-blue-text {
  color: theme_variable.$vibrant-blue !important;
}
.th-black-text {
  color: #000 !important;
}

.th-maroon-text {
  color: #aa2528 !important;
}

.th-light-grey {
  color: theme_variable.$grey-light !important;
}
.th-dark-grey {
  color: theme_variable.$grey-dark !important;
}
.th-grey-100-text {
  color: theme_variable.$grey-color1 !important;
}
.th-grey-200-text {
  color: theme_variable.$grey-color2 !important;
}
.th-grey-300-text {
  color: theme_variable.$grey-color3 !important;
}
.th-grey-400-text {
  color: theme_variable.$grey-color4 !important;
}

.th-grey-300-text {
  color: theme_variable.$grey-color3 !important;
}
.th-grey-500-text {
  color: theme_variable.$grey-color5 !important;
}
.th-grey-600-text {
  color: theme_variable.$grey-color6 !important;
}
.th-grey-700-text {
  color: theme_variable.$grey-color7 !important;
}
.th-grey-800-text {
  color: theme_variable.$grey-color8 !important;
}
.th-grey-900-text {
  color: theme_variable.$grey-color9 !important;
}

.th-form-black-text {
  color: theme_variable.$form-black;
}

.th-bg-primary {
  background-color: theme_variable.$primary-color !important;
}

.th-bg-secondary {
  background-color: theme_variable.$secondary-color !important;
}

.th-black-bg {
  background-color: theme_variable.$black-color !important;
}
.th-primary-bg {
  background-color: theme_variable.$primary-color !important;
}

.th-white-bg {
  background-color: theme_variable.$white-color !important;
}

.th-dark-black-bg {
  background-color: theme_variable.$dark-black-color !important;
}

.th-primary-border {
  border-color: theme_variable.$primary-color !important;
}

.th-pointer {
  cursor: pointer !important;
}

// Buttons

.th-btn-default {
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.th-btn-primary {
  @extend .th-btn-default;
  color: #000;
  outline: 1px solid theme_variable.$primary-color;
  background-color: theme_variable.$primary-color;
  border: none;
}
.th-btn-transparent {
  @extend .th-btn-default;
  color: #fff;
  outline: 1px solid #fff;
}
.th-btn-black {
  @extend .th-btn-default;
  border: 1px solid #12141d;
  color: #fff;
  background: #12141d;
}

.th-btn-outlined {
  @extend .th-btn-default;
  color: #000;
  outline: 1px solid #000;
  background-color: transparent;
}

.th-btn-lg {
  @extend .th-btn-default;
  font-size: 16px;
  height: 40px;
  padding: 6.428571428571429px 15px;
  border-radius: 8px;
}

.th-btn-lg-primary {
  @extend .th-btn-lg;
  color: #fff;
  background-color: theme_variable.$primary-color;
}
